---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage frontmatter={{ title: "Q&A Benkyoo" }}>
  <h2>This is A page for the first Time</h2>
</StarlightPage>
